<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnesBonus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SnesBonus.Properties.Settings>
            <setting name="GamesDb" serializeAs="String">
                <value>{this}\GamesDB.json</value>
            </setting>
            <setting name="RomsFolder" serializeAs="String">
                <value>{this}\Roms\</value>
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value>{this}\Thumbnails\</value>
            </setting>
            <setting name="ExecutableFile" serializeAs="String">
                <value>E:\Software\Games\Emulator\snes9x-1.53-win32\snes9x.exe</value>
            </setting>
            <setting name="ScraperTimeout" serializeAs="String">
                <value>50000</value>
            </setting>
        </SnesBonus.Properties.Settings>
    </userSettings>
</configuration>